body {
    background-color: rgba(0, 0, 0, .03) !important;
    padding-top: 56px;
}

#suitable {
    text-decoration: underline !important;
    text-decoration-style: solid !important;
}

.card {
    width: 500px;
    height: 500px;
}

.card-img-top {
    width: 500px;
    height: 500px;
}


#producttable tr:nth-child(even) {
    background-color: #4CAF50 !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

#shopcart {
    float: right;
}

#ordernow {
    color: orangered;
    text-decoration: underline orangered;
    font-size: 1.3em;
    text-align: center;
}

#filterby {
    font-weight: bolder;
    text-transform: uppercase;
    background: lightslategray;
}

#ordernowcart {
    color: orangered;
    text-decoration: underline orangered;
}

#listgroup {
    float: left;
}
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}
#navigation__menu{
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}




