body {
    background: url(../Images/Capture1.PNG) center center no-repeat rgba(0, 0, 0, .03) !important;
    background-size: contain !important;
    background-attachment: fixed !important;
    padding-top: 56px;
}

#navigation__menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
}

#shop.cart {
    text-align: right;
}

#shopcart {
    float: right;
}

#ordernow {
    color: orangered;
    text-decoration: underline orangered;
    font-size: 1.3em;
    text-align: center;
}

#filterby {
    font-weight: bolder;
    text-transform: uppercase;
    background: lightslategray;
}

#ordernowcart {
    color: #4CAF50;
    text-decoration: underline orangered;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fbb935;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #93a0aa;
    text-decoration: none;
}

li a:active {
    color: #4CAF50;
}

li:last-child {
    float: right;

}

#filteron {
    color: white;
}

.card {
    width: 500px;
    height: 500px;
}

.card-img-top {
    width: 500px;
    height: 500px;
}

#producttable tr:nth-child(even) {
    background-color: #ce6749 !important;
}

#shopcart {
    float: right;

}

#filterby {
    font-weight: bolder;
    text-transform: uppercase;
    background: lightslategray;
}

.order__now-cart {
    color: orangered;
    text-decoration: underline orangered;
    text-align: center;
}

#listgroup {
    float: left;
}


.col-lg-9 {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* https://bootsnipp.com/snippets/M5vml */
.paddingTB60 {
    padding: 60px 0px 60px 0px;
}

.gray-bg {
    background: #F1F1F1 !important;
}

.about-title {
}

.about-title h1 {
    color: #535353;
    font-size: 45px;
    font-weight: 600;
}

.about-title span {
    color: #AF0808;
    font-size: 45px;
    font-weight: 700;
}

.about-title h3 {
    color: #535353;
    font-size: 23px;
    margin-bottom: 24px;
}

.about-title p {
    color: #7a7a7a;
    line-height: 1.8;
    margin: 0 0 15px;
}

.about-paddingB {
    padding-bottom: 12px;
}

.about-img {
    padding-left: 57px;
}

footer {
    background: grey;
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
    z-index: 100000 !important;
}

background-image {
    opacity: 0.5;
    filter: alpha(opacity=50);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}





