body {
    background-color: rgba(0, 0, 0, .03) !important;
    padding-top: 56px;
}

#suitable {
    text-decoration: underline !important;
    text-decoration-style: solid !important;
}

.card {
    width: 500px;
    height: 500px;
}

.card-img-top {
    width: 500px;
    height: 500px;
}


#producttable tr:nth-child(even) {
    background-color: #4CAF50 !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

#shopcart {
    float: right;
}

.order__now-home {
    color: orangered;
    text-decoration: underline orangered;
    font-size: 1.3em;
    text-align: center;
}

#filterby {
    font-weight: bolder;
    text-transform: uppercase;
    background: lightslategray;
}

.order__now-cart {
    color: orangered;
    text-decoration: underline orangered;
    text-align: center;
}

#listgroup {
    float: left;
}

#navigation__menu {
    position: fixed;
    top: 0;
    width: 100%;

}
.col-lg-9{
    text-align: center;
}




