<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width initial-scale=1,shrink-to-fit=no">
<link rel="stylesheet" th:href="@{~/CSS/main.css}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- script -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<meta charset="UTF-8">
<title th:text="#{tj_about}"></title>
</head>
<body>
<div class="navigation__bar">
    <nav class="navigation__menu" th:replace="~{menu::nav_menu(cart)}"></nav>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-7 col-sm-6">
            <div class="about-title clearfix">
                <h1>About <span>Tim & Jeffrey's</span></h1>
                <h3>Lorem ipsum dolor sit amet </h3>
                <p class="about-paddingB">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet dolor
                    libero, eget venenatis mauris finibus dictum. Vestibulum quis elit eget neque porttitor congue non
                    sit amet dolor. Proin pretium purus a lorem ornare </p>
                <p>sed lobortis pulvinar. Integer laoreet mi id eros porta euismod. Suspendisse potenti. Nulla eros
                    mauris, convallis et sem tempus, viverra hendrerit sapien</p>

            </div>
        </div>
    </div>
</div>
</div>
</body>

<br>
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright © Tim & Jeffrey's Incorporated 2019</p>
    </div>
</footer>
</html>
