<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width initial-scale=1,shrink-to-fit=no">
<link rel="stylesheet" th:href="@{~/CSS/main.css}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- script -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<meta charset="UTF-8">
    <title th:text="#{tj_about}"></title>
</head>
<body>
    <div class="navigation__bar">
        <nav class="navigation__menu" th:replace="~{menu::nav_menu(about)}"></nav>
    </div>
    <h1>About us</h1>
    <article>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id malesuada tortor. Curabitur scelerisque purus
    mauris, vitae suscipit nisi venenatis nec. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
    cubilia Curae; In hac habitasse platea dictumst. Aenean fringilla varius libero a facilisis. Mauris congue, metus eu
    vestibulum aliquam, justo odio vulputate est, eu posuere ex lacus sed elit. Vivamus volutpat tristique nibh, vitae
    rutrum orci blandit viverra. Integer vestibulum in libero quis pharetra. Suspendisse ut nunc elementum, accumsan
    dolor in, porta lacus. Phasellus urna eros, feugiat id purus in, semper gravida tortor.

    Curabitur hendrerit ultrices arcu, eget convallis arcu lobortis sit amet. Phasellus ut venenatis nisl, in tincidunt
    ipsum. Donec at eleifend lorem. Vivamus vel est aliquam, hendrerit tellus vitae, vestibulum lectus. Maecenas vitae
    ante vitae odio sodales ultricies. Suspendisse aliquam tempor massa non faucibus. Vivamus vestibulum mauris
    consectetur, aliquet odio nec, tempus diam. Pellentesque sed semper ante. Donec faucibus eget mauris feugiat
    condimentum. Donec efficitur est eu rutrum consequat. Duis commodo sollicitudin eleifend. Integer tristique, diam in
    laoreet mattis, nisi leo auctor neque, sed vulputate ex risus et eros. Aenean aliquet, enim non pharetra
    scelerisque, sem lorem pharetra purus, a fringilla ligula sem quis velit.
    </article>
</body>
<br>
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright © Tim & Jeffrey's Incorporated 2019</p>
    </div>
</footer>
</html>
