<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank You</title>
</head>
<body>
<div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>Please check your email</strong> for your order confirmation.</p>
    <hr>
    <p>
        Forgot Something? <a href="~/index">Return to shop</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="~/index" role="button">Continue to homepage</a>
    </p>
</div>
</body>
</html>