<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<!-- made by Michael -->
<head>
    <meta name="viewport" content="width=device-width initial-scale=1,shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{~/CSS/main.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- script -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <meta charset="UTF-8">
    <title>TJ: Catalogue</title>
    <script>
        $(document).ready(function () {
            $('#producttable').DataTable({
                "search": true
            });
        });
    </script>
</head>
<body>
<div class="navigation__bar">
    <nav class="navigation__menu" th:replace="~{menu::nav_menu(index)}"></nav>
</div>
<br>
<h1>
    <a th:href="@{~/cart}">Shopping Cart</a></h1>
<div class="container-fluid">

    <div id="productwrapper" class="display">

        <!--<table id="producttable">
            <thead>
            <tr>
                <td>Product</td>
                <td>Prijs</td>
                <td>BullPoint 1</td>
                <td>BullPoint 2</td>
                <td>Suitable for:</td>
                <td>Quantity</td>
                <td>Details</td>

            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${allProducts}">

                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.bullpnt1}"></td>
                <td th:text="${product.bullpnt2}"></td>
                <td th:text="|This is suitable for: ${product.suitfor}|"></td>
                <td><input id="quantity" type="number" value="1" min="1"></td>
                <td><a th:href="@{~/{id}(id = ${product.id})}">Meer details</a></td>
                <td>
                    <button class="btn1"><a th:href="@{/shoppingcart}">Add</a></button>
                    >
                </td>
                <td>
                    <button class="btn1"><a th:href="@{/shoppingcart}">Order now</a></button>
                    >
                </td>

            </tr>
            </tbody>
        </table>-->
        <div class="row">

            <div class="card-body" th:each="product : ${allProducts}">
                <div class="col-sm-4">

                    <img class="card-img-top" th:src="${product.imgurl}">

                    <h4 class="card-title" th:text="${product.name}"></h4>
                    <p class="card-text" th:text="|• ${product.bullpnt1}|"></p>
                    <p class="card-text" th:text="|• ${product.bullpnt2}|"></p>
                    <p class="card-text" id="suitable" th:text="|• Suitable for: ${product.suitfor}|"></p>
                    <p class="card-body" id="pricecard" th:text="|€ ${product.price}|"></p>
                    <input id="quantity" type="number" value="1" min="1">
                    <a th:href="@{~/{id}(id = ${product.id})}">Meer details</a>
                </div>
            </div>
            <input class="btn" value="Add to cart" type="submit"></input>


        </div>

    </div>
</div>

</body>
</html>