<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<!-- author DG-->
<div class="navigation__bar">
    <nav id="navigation__menu" th:fragment="nav_menu(page)">
        <ul>
            <li class="navigation__menu__item">
                <a th:href="@{~/index}" th:class="${(page =='home')?'active':''}" th:text="#{menu_home}">Home</a>
            </li>
            <li class="navigation__menu__item">
                <a th:href="@{~/about}" th:class="${(page =='about')?'active':''}" th:text="#{menu_about}">About</a>
            </li>
            <li>
                <a id="filteron">Filter: </a>
            </li>
            <li>
                <a th:href="@{~/index/food}" th:text="|• #{categ_food}|"></a>
            </li>
            <li>
                <a th:href="@{~/index/toy}" th:text="|• #{categ_toy}|"></a>
            </li>
            <li>
                <a th:href="@{~/index/habitat}" th:text="|• #{categ_habitat}|"></a>
            </li>
            <li>
                <a id=shop.cart th:href="@{~/cart}" th:text="#{menu_cart}"></a>
            </li>
        </ul>
    </nav>
</div>
</div>
</div>
</li>
<li class="navigation__menu__item">
    <a th:href="@{~/cart}" th:class="${(page =='cart')?'active':''}" th:text="#{menu_cart}"></a>
</li>
</ul>
</nav>
</div>
</html>