<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TJ Catalogus</title>
    <script>
        $(document).ready(function () {
            $('#producttable').DataTable({
                "search": true
            });
        });
    </script>
</head>
<body>
<div class="container-fluid">

    <div id="productwrapper" class="display">

        <table id="producttable">
            <thead>
            <tr>
                <td>Product</td>
                <td>Prijs</td>
                <td>Details</td>

            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${allProducts}">

                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td><a th:href="@{~/{id}(id = ${product.id})}">Meer details</a></td>


            </tr>
            </tbody>
        </table>

    </div>
</div>

</body>
</html>